.App {
	text-align: center;
	/* background-color: rgb(231, 231, 231); */
	/* background-image: url('./images/pexels-gdtography-950241.jpg');
  background-position: center;
  background-repeat: no-repeat;*/
	background-size: cover;
	min-height: 100vh;
	height: 100%;
	display: 'flex',
}
