@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./assets/FONTS/ROBOTO/Roboto-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

